/*
 * @file CSS definitions for the plugin 'map' pane.
 * @author Dave Braines
 * @status Complete
*/

.cs-map-pane {
    height: 100%;
    width: 100%;
}


.cs-map {
    height: 150px;
    width: 150px;
}

.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}

.custom-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}
